<div class="work4-section-area sp1">
    <img src="assets/img/elements/elements1.png" alt="" class="elements1 keyframe5">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="heading6 text-center space-margin60">
                        <h5><img src="assets/img/icons/sub-logo4.svg" alt="">Suporte</h5>
                        <div class="space18"></div>
                        <h4 class="text-anime-style-3">Sempre que precisar de ajuda com sua internet, fale com a gente pelos canais abaixo:</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="others-widget-area">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-3">
                                <div class="card-boxarea box1" data-aos="zoom-in" data-aos-duration="800">
                                    <div class="content-area">
                                        <a href="https://wa.me/5542991231900" target="_blank"
                                            rel="noopener noreferrer">WhatsApp</a>
                                        <div class="space14"></div>
                                        <p (click)="clipboard.copy('42991231900')" style="cursor: pointer;">(42) 9 9123-1900</p>
                                    </div>
                                </div>
                               
                                <div class="card-boxarea box2 mt-4" data-aos="zoom-in" data-aos-duration="900">
                                    <div class="content-area">
                                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=contato@rpmtelecom.com.br" id="email">E-mail</a>
                                        <div class="space14"></div>
                                        <p (click)="clipboard.copy('contato@rpmtelecom.com.br')" style="cursor: pointer;">contato&#64;rpmtelecom.com.br</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3">
                                <div class="card-boxarea box3" data-aos="zoom-in" data-aos-duration="800">
                                    <div class="content-area">
                                        <a href="tel:+55236381900">Telefone Fixo</a>
                                        <div class="space14"></div>
                                        <p (click)="clipboard.copy('4236381900')" style="cursor: pointer;">(42) 3638-1900</p>
                                    </div>
                                </div>
                                
                                <div class="card-boxarea box4 mt-4" data-aos="zoom-in" data-aos-duration="1000">
                                    <div class="content-area">
                                        <a href="https://www.rpmtelecom.com.br/ca/#/login" 
                                            data-email="contato@rpmtelecom.com.br">Acesso</a>
                                        <div class="space14"></div>
                                        <p>Área do Cliente
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3">
                                <div class="card-boxarea box3" data-aos="zoom-in" data-aos-duration="800">
                                    <div class="content-area">
                                        <a href="tel:+5508006491900">0800</a>
                                        <div class="space14"></div>
                                        <p (click)="clipboard.copy('08006491900')" style="cursor: pointer;" >0800 649 1900</p>
                                    </div>
                                </div>
                                
                                <div class="card-boxarea box4 mt-4" data-aos="zoom-in" data-aos-duration="1000">
                                    <div class="content-area">
                                        <a href="https://www.rpmtelecom.com.br/links.html" 
                                            data-email="contato@rpmtelecom.com.br">Suporte</a>
                                        <div class="space14"></div>
                                        <p>Central do Cliente
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>