<div class="pricing4-section-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="pricing-header text-center heading6 space-margin60">
                    <h5><img src="assets/img/icons/sub-logo4.svg" alt="">Planos</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">Velocidade, Estabilidade e Planos <br class="d-lg-block d-none"> Que
                        Acompanham o Seu Ritmo</h2>
                </div>
            </div>
        </div>
        <div class="space100"></div>
        <div class="row ">
            @if (isLoading) {
            <div class="col-12 text-center py-5">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Carregando...</span>
                </div>
            </div>
            } @else if (!plans.length) {
            <div class="col-12 text-center py-5">
                <p>Nenhum plano disponível no momento.</p>
            </div>
            } @else {
            @for (plan of plans; track plan.id; let i = $index) {
            <div class="col-lg-3 col-md-6" [attr.data-aos]="i % 2 === 0 ? 'flip-right' : 'flip-left'"
                [attr.data-aos-duration]="800 + (i * 200)">

                <div class="pricing-single-boxarea box2">
                    @if (plan.mostrarvalorsite && plan.valorplano) {
                        <div class="price">
                        <h4>R${{ plan.valorplano }}</h4>
                        <p>Mês</p>
                        <img class="" src="assets/img/elements/elements43.png" alt="">
                    </div>
                }
                
                    <h3 class="text-center">{{ plan.velocidade }} Mega</h3>
                    <div class="space16"></div>
                    <p class="text-center">{{ plan.planodescricao }}</p>

                    <div class="space16"></div>
                    <ul>
                        <li *ngIf="plan.fibra"><img src="assets/img/icons/check6.svg" alt=""> Fibra óptica</li>
                        <li><img src="assets/img/icons/check6.svg" alt=""> Download {{ plan.velocidade }} Mbps</li>
                        <li><img src="assets/img/icons/check6.svg" alt=""> Upload {{ plan.velocidade }} Mbps</li>
                        <li><img src="assets/img/icons/check6.svg" alt=""> Residencial & Empresarial</li>
                    </ul>

                    <div class="space32"></div>
                    <div class="btn-area1 text-center">
                        <a class="vl-btn5" href="https://wa.me/554291231900?" target="_blank" rel="noopener noreferer">
                            <span class="demo">Contratar</span>
                            <span class="arrow"><i class="fa-solid fa-arrow-up"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            }

            }
        </div>

    </div>
</div>