<div class="case4-section-area sp1"
    style="background-image: url(assets/img/all-images/bg/service-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="assets/img/elements/elements41.png" alt="" class="elements41">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="case-header space-margin60 heading6">
                    <h5><img src="assets/img/icons/sub-logo4.svg" alt="">Case Studies</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">Delivering Results With Custom IT Solutions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <owl-carousel-o [options]="customOptions" lass="case4-slider">


                    <ng-template carouselSlide>
                        <div class="case-single-boxarea">
                            <div class="case-single-boxarea">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224.94143336634357!2d-52.049564912138116!3d-25.569572901008485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94efa1e9280230d5%3A0xc0f30f4782e7af6c!2sRPM%20Telecom!5e0!3m2!1spt-BR!2sbr!4v1756497353771!5m2!1spt-BR!2sbr"
                                    width="90%" height="350px"
                                    style="border:5px solid rgb(212, 216, 240); border-radius: 5%; box-shadow: 1px, 2px, 3px  black; "
                                    allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <p class="mt-2 text-center">Candói/PR</p>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="case-single-boxarea">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1756497669604!5m2!1spt-BR!2sbr!6m8!1m7!1sFWJss2WgPjBowRcalBqJkA!2m2!1d-25.37547339707061!2d-52.12544539837185!3f118.97654429428908!4f-12.949318815175474!5f0.7820865974627469"
                                width="90%" height="350px"
                                style="border:5px solid rgb(212, 216, 240); border-radius: 5%; box-shadow: 1px, 2px, 3px  black; "
                                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <p class="mt-2 text-center">Cantagalo/PR</p>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="case-single-boxarea">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.2252049095655!2d-51.9939907237978!3d-25.19562672366115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94eeff0f0c1d01ef%3A0xeaa320271987ba8b!2sR.%20Laurindo%20Cordeiro%20de%20Souza%2C%20517%2C%20Goioxim%20-%20PR%2C%2085162-000!5e0!3m2!1spt-BR!2sbr!4v1756498282481!5m2!1spt-BR!2sbr"
                                width="90%" height="350px"
                                style="border:5px solid rgb(212, 216, 240); border-radius: 5%; box-shadow: 1px, 2px, 3px  black; "
                                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <p class="mt-2 text-center">Goioxim/PR </p>
                        </div>
                    </ng-template>



                    <ng-template carouselSlide>
                        <div class="case-single-boxarea">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!4v1756498411595!6m8!1m7!1s90V8xxEj0qc1VMa_w_Ld2w!2m2!1d-25.73359798406129!2d-52.11658114002258!3f282.5583880324463!4f-17.216089630514034!5f0.7820865974627469"
                                width="90%" height="350px"
                                style="border:5px solid rgb(212, 216, 240); border-radius: 5%; box-shadow: 1px, 2px, 3px  black; "
                                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <p class="mt-2 text-center">Foz do Jordão/PR</p>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="case-single-boxarea">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!4v1756498586951!6m8!1m7!1sEgFvLVZ_-l6SZX_WJQaW9A!2m2!1d-25.83447603137454!2d-52.02975745348953!3f72.4641873685326!4f3.4016493610497065!5f0.7820865974627469"
                                width="90%" height="350px"
                                style="border:5px solid rgb(212, 216, 240); border-radius: 5%; box-shadow: 1px, 2px, 3px  black; "
                                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <p class="mt-2 text-center">Reserva do Iguaçu/PR</p>

                        </div>
                    </ng-template>

                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>